  body{
  background-size:cover
  }
div {
  padding: 10px;/* 内側の余白 */
  color: #FFF; /* 文字色 */
  margin-left: auto; 
  margin-right: auto; 
}
.box p {
    position: absolute;
    top: 10;
    left: 20;
    padding: 10px;
}
.box {  
    position: relative;
}
