  body{
  background-size:cover
  }
div {
  padding: 10px;/* 内側の余白 */
  color: #FFF; /* 文字色 */
  margin-left: auto; 
  margin-right: auto; 
}
.box p {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #000
}
.box {  
    position: relative;
}
.sample input{
 position: absolute;
 right: 5px;
 bottom: 5px;
}
